* html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*header*/
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.header_left {
    width: 33%;
    padding-left:20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_left input {
    height: 32px;
    width: 50%;
    margin-left: 15px;
    border: 0.5px solid gray;
    border-radius: 15px;
    text-align: left;
    padding-left:15px;
    font-size: 15px;
    color: gray;
    background-color:rgba(128, 128, 128, 0.092);
}
.header_center {
    display: flex;
    width: 33%;
    justify-content: space-around;
    align-items: center;
}
.header_center a:hover {
    background-color:rgba(66 103 178);
}
.header_right {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}
.header_right img {
    margin-right: 15px;
}
.header_right button {
    margin-right: 15px;
    height: 32px;
    width: 25%;
    border: 0.5px solid gray;
    border-radius: 13px;
}
/*menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.092);
}
.menu_left {
    display: flex;
    width: 33.3%;
    flex-flow: column;

}
.menu_left div {
    display: flex;
    align-items: center;
    margin: 15px;
}
.menu_left span {
    margin-left:15px;
    font-size: 18px;
    font-weight: 500;
}
.menu_center {
    display: flex;
    width: 33.3%;
    flex-flow: column;
    align-items: center;
}
.menu_center_up {
    display: flex;
    background-color: white;
    border-radius: 15px;
    flex-flow: column;
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
}
.up1 {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 25px;
}
.up1 span {
    margin-left: 15px;
}
.up2 {
    margin-left: 60px;
    margin-bottom: 25px;
}
.menu_center_down {
    width: 70%;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 5%;
    font-size: 18px;
}
.menu_center_down img {
    width:70%;
}
.logo_meta {
    display: flex;
    justify-content: center;
}
#p1 {
font-weight: 600;
}
.menu_buttons {
    display: flex;
    align-items: center;
    justify-content:center;
}
.menu_buttons button {
    width:47%;
    height: 40px;
    margin: 2%;
    font-size: 15px;
    border-radius: 5px;
    border: 0.5px solid gray;
}
.menu_buttons button:hover {
    background-color:rgba(66 103 178);   
}
.menu_right {
    display: flex;
    width: 33.3%;
    flex-flow: column;
}
hr {
    width: 80%;
    color: rgba(83, 78, 78, 0.866);
}
.menu_right a {
    text-decoration: none;
    color:rgba(83, 78, 78, 0.866);
    font-size: 18px; 
    font-weight: 600; 
    margin-left: 10%;
}
.menu_right div {
    display: flex;
    align-items: center;
    margin-top:15px;
}
.menu_right span {
    margin-left:15px;
}
/*media*/
@media screen and (max-width: 825px){
    .menu_center_down {
        display: none;
    }  
}
@media screen and (max-width: 780px){
  .header_left input {
    display: none;
  } 
  .header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 380px){
 .menu_center {
    display: none;
 }   
 .menu_right {
    display:none;
 }
}
